<h4 class="caption">About Us</h4>
<p>This is views/about.html</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur ratione nulla, doloribus ducimus aperiam excepturi minima. Aut facere fugit dolore. Soluta, praesentium. Nisi, quis ex harum sint quam vero.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iure dolor doloremque adipisci sed, blanditiis sequi ad! Aliquid, praesentium id amet maiores, suscipit voluptas distinctio possimus, quo assumenda earum doloremque.</p>