<h4 class="caption">Welcome!</h4>
<p>Congrats! this is views/home.html</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente provident, odit obcaecati ullam possimus beatae quos culpa asperiores in! Voluptates suscipit expedita facilis neque eos blanditiis incidunt veritatis iure quia!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia laborum neque voluptatibus. Ab esse excepturi nihil similique architecto eaque reiciendis laudantium accusantium nesciunt illo repellat nemo, ipsum consequuntur, obcaecati. Nam.</p>
<span class="info" data-pjax-message="check">Hellooo</span>